/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  background-color: #52a7c1;
  background-image: linear-gradient(315deg, #52a7c1 0%, #b3f6d8 74%);
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
/* Actual Css */
.library {
  /* height: 100vh; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, fr);
  margin: 2rem; 

  background: rgba(255, 255, 255, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.header {
  grid-area: 1 / 1 / 2 / 3;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: none;
  border-radius: 10px;
  background: rgba(5, 190, 223, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  color: #52a7c1;
  font-weight: 700;
}
.toolbar {
  grid-area: 2 / 1 / 3 / 3;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #427c8d;
  font-weight: 560;
}
.input{
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  padding: 1px 10px;
  outline: none;
  color: #52a7c1;
  font-weight: 500;
}
#add-btn{
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}
#add-btn img{
  width: 25px;
}
#add-btn img:hover{
  transform: scale(0.9);
}
.input:valid{
  outline: 1px solid #52a7c1;
  
}
.book-shelf {
  grid-area: 3 / 1 / 4 / 4;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 20px
}
.book {
  width: 150px;
  height: 200px;
  background: rgba(255, 255, 255, 0.1); /* semi-transparent */
  border-radius: 8px 30px 30px 8px; /* spine on left, rounded on right */
  border-left: 6px solid rgba(255, 255, 255, 0.3); /* book spine */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
  color: white;
  font-family: sans-serif;
}
.book-info {
  background: rgba(148, 86, 86, 0.45);
  margin: 12px auto;
  border-radius: 10px;
  text-align: center;
  font-size: small;
  font-weight: 600;
  font-family: sans-serif;
  word-break: break-all;
}
.author{
  font-style: italic;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7)
}
/* Delete Btn*/
.del-btn {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 20px;
}
.del-btn:hover{
  transform: scale(1.1);
  cursor: pointer;
}